where-to-put-these/HelloWorldWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/HelloWorldWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldWebService" targetNamespace="http://www.example.org/HelloWorldWebService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/HelloWorldWebService/">
      <xsd:element name="HelloOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HelloOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HelloOperationRequest">
    <wsdl:part element="tns:HelloOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="HelloOperationResponse">
    <wsdl:part element="tns:HelloOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="HelloWorldWebService">
    <wsdl:operation name="HelloOperation">
      <wsdl:input message="tns:HelloOperationRequest"/>
      <wsdl:output message="tns:HelloOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldWebServiceSOAP" type="tns:HelloWorldWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HelloOperation">
      <soap:operation soapAction="http://www.example.org/HelloWorldWebService/HelloOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldWebService">
    <wsdl:port binding="tns:HelloWorldWebServiceSOAP" name="HelloWorldWebServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
